.email-form {
  display: flex;
}

.email-input {
  width: 300px;
  color: #000;
  padding: 8px;
  border: none;
  border-radius: 4px;
  outline: none;
}

.send-button {
  background-color: #5dbda3;
  color: #000;
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.send-button:hover {
  background-color: #21bd93;
}

/* h2 {
  background: linear-gradient(to right top, #ff0f0f, #ff0049, #ff007b, #e800ac, #b720d7, #8562f6, #4a85ff, #009eff, #00c3ff, #00e0ef, #00f59a, #7aff00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */